/* body style */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* Donate now section style start */
.top-section {
  background-image: url(./Images/Help.jpg);
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}
h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}
.top-text {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
}
.anchor-button {
  text-decoration: none;
  background: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
}
/* Donate now section style end */

/* Donate Today section style start */
.today-text-style {
  margin-top: 90px;
  text-align: center;
  margin-left: 220px;
  margin-right: 220px;
}
.tk-style {
  display: flex;
  justify-content: center;
}
.money-box {
  border-radius: 5px;
  margin: 30px 30px 30px 30px;
  background-color: #fbfcfc;
  padding: 30px;
}
#money-id {
  border: 1px solid tomato;
  border-radius: 5px;
  margin: 30px 30px 30px 30px;
  background-color: #fbfcfc;
  color: tomato;
  padding: 30px;
}
.hr-style {
  margin-left: 240px;
  margin-right: 240px;
  margin-top: 0;
}
.btn-style {
  text-align: center;
}
/* Donate Today section style end */

/* our donate plan style start */
.family-food {
  border-radius: 5px;
  margin: 20px 20px 20px 20px;
  background-color: #d6dbdf;
  padding: 30px;
  height: 250px;
}
.shelter-family {
  border-radius: 5px;
  margin: 20px 20px 20px 20px;
  background-color: #aed6f1;
  padding: 30px;
  height: 250px;
}
.child-education {
  border-radius: 5px;
  margin: 20px 20px 20px 20px;
  background-color: #9b59b6;
  padding: 30px;
  height: 250px;
}
/* our donate plan style start */
