/* body style */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 900px;
  margin: 0 auto;
  display: block;
}
/* Donate now section style start */
.top-section {
  background-image: url(./Images/Help.jpg);
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}
h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}
.top-text {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
}
.anchor-button {
  text-decoration: none;
  background: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  border: 0;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  display: block;
}
/* Donate now section style end */

/* Donate Today section style start */
.today-text-style {
  margin-top: 90px;
  margin-bottom: 30px;
  text-align: center;
}
.tk-style {
  display: flex;
  justify-content: center;
}
.money-box {
  border-radius: 5px;
  margin: 30px 30px 30px 30px;
  background-color: #fbfcfc;
  padding: 30px;
}
#money-id {
  border: 1px solid tomato;
  border-radius: 5px;
  margin: 30px 30px 30px 30px;
  background-color: #fbfcfc;
  color: tomato;
  padding: 30px;
}
.btn-style {
  text-align: center;
}
/* Donate Today section style end */

/* our donate plan style start */
.family-food {
  border-radius: 5px;
  margin: 20px 20px 20px 20px;
  background-color: #d6dbdf;
  padding: 30px;
  height: 250px;
  max-width: 200px;
}
.shelter-family {
  border-radius: 5px;
  margin: 20px 20px 20px 20px;
  background-color: #aed6f1;
  padding: 30px;
  height: 250px;
  max-width: 200px;
}
.child-education {
  border-radius: 5px;
  margin: 20px 20px 20px 20px;
  background-color: #9b59b6;
  padding: 30px;
  height: 250px;
  max-width: 200px;
}
/* our donate plan style end */

/* middle section style Start */
.middle-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.half-width {
  width: 50%;
  margin: 0 -5px;
}
.image-container {
  position: relative;
  padding: 0 5px;
}
.image-container img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 5px;
}
.image-container .image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 80%;
  font-size: 20px;
  text-align: center;
}
/* middle section style end */

/* get my updates style start */
.get-text-style {
  font-size: 25px;
}
.input-design {
  background-color: #f9ebea;
  height: 150px;
  margin-bottom: 100px;
}
.input-style {
  text-align: center;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email-input {
  padding: 11px;
  border-radius: 5px 0 0 5px;
  background-color: #cacfd2;
  border: 0;
}
.input-style .anchor-button {
  border-radius: 0 5px 5px 0;
  padding-top: 6px;
  padding-bottom: 6px;
}
/* get my updates style end */

/* footer style start */
.footer-style {
  background-color: black;
  height: 175px;
}
.footer-text-para {
  text-align: center;
  color: tomato;
  font-family: "Gentium Book Plus", serif;
  font-size: 20px;
  padding-top: 25px;
}
.footer-text-style {
  text-align: center;
  color: white;
  padding-bottom: 40px;
  font-size: 10px;
}
/* footer style end */
